<h1 class="mt-6">All Users</h1>

<ul>
  <% @users.each do |user| %>
    <li>
      <%= link_to user.email, user %>| <%= user.age %>
     
      <% if user.image.attached? %>
        <%= image_tag user.image, :width => 200, :height => 200 %>
      <% end %>
    </li>
  <% end %>
</ul>
