<h1>Users#index</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.email %> | <%= user.age %>
      

     <% user.album_photos.each do |photo| %>
      <%= image_tag photo, :alt => 'other photos', :width => 200, :height => 200 %>
      
     <% end %>
    </li>
  <% end %>
</ul>
